.cards {
    background: #fff;
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
}

.cards__title {
    padding-top: 80px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 60px;
    text-align: left;
    color: #020202;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.big-cards__wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.big-cards__item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 10px);
    box-shadow: 2px 3px 10px rgba(49, 49, 49, 0.25);
    border-radius: 10px;
    padding: 30px;
    min-height: 255px;
    box-sizing: border-box;
    height: fit-content;
    transition: box-shadow 0.3s ease-in-out;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.big-cards__item.shadow {
    box-shadow: 5px 6px 20px rgba(49, 49, 49, 0.25);
}

.big-cards__item:hover {
    box-shadow: 4px 6px 20px rgba(49, 49, 49, 0.25);
    cursor: pointer;
}

.big-cards__item img {
    padding-right: 20px;
    width: 64px;
    height: 64px;
}

.big-cards__top {
    display: flex;
    flex-direction: row;
    max-height: 64px;
}

.big-cards__header {
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    padding-top: 14px;
    color: rgba(32, 32, 32, 0.95);
}                  

.big-cards__text {
    visibility: visible;
    padding-top: 26px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #344055;
    max-height: 600px;

    opacity: 1;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
    -ms-transition: all .6s ease-out;
    -o-transition: all .6s ease-out;
    transition: all .6s ease-out;
}

.big-cards__text.hidden {
    max-height: 0px;
    visibility: hidden;
    opacity: 0;

    -webkit-transition: all .6s ease-int;
    -moz-transition: all .6s ease-int;
    -ms-transition: all .6s ease-int;
    -o-transition: all .6s ease-int;
    transition: all .6s ease-int;
}

.small-cards__wrapper {
    padding-top: 41px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.small-cards__row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.small-cards__header {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    border-bottom: 3px solid rgba(93, 165, 211, 0.25);
    width: fit-content;
}

.small-cards__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.small-cards__link {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: underline;
    color: rgba(38, 105, 156, 0.45);
}

.small-card__before-after {
    width: 35px;
}

.cards__button {
    margin-top: 75px;
    cursor: pointer;
    color: #FFFFFF;
    background: #26699C;
    border: none;
    width: 280px;
    height: 52px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 18px;
}

.cards__button:nth-child(odd) {
    border: 2px solid rgba(38, 105, 156, 0.45);
    background: transparent;
    color: #26699C;
    margin-left: 35px;
}

@media screen and (max-width: 768px) {
    .cards {
        width: calc(100vw - 30px);
    }

    .cards__title {
        padding-top: 48px;
        font-weight: 400;
        font-size: 40px;
        line-height: 51px;
        padding-bottom: 20px;
    }

    .big-cards__wrapper {
        flex-direction: column;
    }

    .big-cards__item {
        width: calc(100vw - 30px);
    }
    
    .big-cards__item img {
        width: 45px;
        height: 45px;
    }

    .big-cards__header {
        padding-top: 5px;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
    }
    .big-cards__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
    }
    
    .small-cards__row {
        flex-direction: column;
        gap: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .small-cards__header {
        font-size: 20px;
    }
    
    .small-cards__text {
        font-size: 18px;
    }
    
    .small-cards__link {
        font-size: 18px;
    }

    .cards__button {
        margin-top: 50px;
        margin-left: calc((100vw - 310px) / 2);
    }
    
    .cards__button:nth-child(odd) {
        margin-top: 20px;
        margin-left: calc((100vw - 310px) / 2);
    }
}            