.popup {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
    z-index: 999;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
    z-index: 9999999;
}

.popup::before {
    content: '';
    background-color: rgba(0, 19, 55, 0.6);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.popup__container {
    position: absolute;
    min-width: 500px;
    left: calc((100vw - 500px) / 2);
    max-width: calc(100vw - 30px);
    padding-top: 50px;
    box-sizing: border-box;
}

.popup__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.popup__header h4 {
    color: #FFFFFF;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 28px;
}

.popup__close-button {
    display: block;
    background-image: url(./../../images/close-btn.svg);
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    -webkit-appearance: none;
}


.form_type_order {
    background: #FFFFFF;
    border-radius: 10px;
    min-height: 450px;
    padding: 30px;
}

.form__input-container {
    border: none;
    padding: 0;
}

.form__input-section {
    padding-bottom: 26px;
}

.form__input {
    margin-top: 10px;
    width: 100%;
    background: rgba(231, 242, 248, 0.25);
    opacity: 0.9;
    border: none;
    border-bottom: 1px solid rgba(93, 165, 211, 0.5);
    border-radius: 2px;
    height: 45px;
}

.form__submit-button {
    color: #FFFFFF;
    background: #26699C;
    border: none;
    width: 280px;
    height: 52px;
    font-weight: 500;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: calc((100% - 280px) / 2);
}

.form__submit-button:hover {
    opacity: .6;
}

.form__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #9D9D9D;
}

.form__disclaimer-link {
    text-decoration: underline #9D9D9D;
    cursor: pointer;
    color: #9D9D9D;
}

.form__disclaimer-link:hover {
    opacity: .7;
}

.form__disclaimer {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #9D9D9D;
    padding-bottom: 26px;
}

@media screen and (max-width: 768px) {
    .popup__container {
        min-width: calc(100vw - 30px);
        padding-top: 100px;
        width: calc(100vw - 30px);
        left: 15px;
    }

    .popup__header h4 {
        font-size: 22px;
        font-weight: 300;
    }
}